[2022-02-15 06:43] dotansimha opened #1 "Client-side Subgraph Composition"

[2022-02-15 06:45] dotansimha opened #2 "Decentralized network: support for fallback"
The goal of this issue is to address a pain point when working with multiple, decentralized indexers. Some GraphQL schemas might be consumed through multiple GraphQL endpoints, from different indexers.
Some indexers might not be available, so we aim to allow the option to fallback on a schema source (maybe also fallback to the hosted service)

[2022-02-15 06:46] dotansimha opened #3 "Decentralized network: parallelism / race"
Due to the nature of the decentralized network, and the ability/need to define fallbacks / alternative sources for the same schema, in some cases it might be useful to define a "race" between two indexers, and use the response from the indexer that replies first.

[2022-02-15 06:47] dotansimha opened #4 "Leverage `extensions` in `graph-node` responses"
This is an open issue to discuss the option to add some metadata in `graph-node` responses, using the `extensions` field of GraphQL response.

[2022-02-15 06:50] dotansimha opened #5 "Alternative for GraphQL Subscriptions over WebScoket"
Today, `graph-node` Subscriptions transport is not 100% reliable and uses a legacy protocol.

We are looking into different ways of providing an alternative to that.

Possible solutions:
- subscribe-as-query: write a GraphQL Subscription, but choose a custom hook (Smart contract event? just polling?)
- query + hook

[2022-02-28 09:39] dotansimha opened #8 "Decentralized network: support for retry"

[2022-02-28 09:40] dotansimha opened #9 "Use GraphQL-Mesh for managing artifacts and improve runtime/exeution"

[2022-02-28 09:42] dotansimha commented on #4
@lutter @azf20 what do you think about this?

We discussed this with several daaps developers, we think maybe the gateway/graph-node can have an option to return execution/cost/indexing information, and we can have an easy API/tooling on The Graph client to use those (for deciding on preferred indexer/source, collecting some metrics, finding performance bottlenecks and so on)

[2022-02-28 09:42] dotansimha opened #10 "Integration: apollo-client"

[2022-02-28 09:42] dotansimha opened #11 "Integration: urql"

[2022-02-28 09:43] dotansimha opened #12 "Integration: relay"

[2022-02-28 09:43] dotansimha opened #13 "Integration: raw fetch / graphql-request"

[2022-02-28 09:44] dotansimha commented on #12
@n1ru4l what do you think about this one?
Basically, the tooling we are building in this repo will eventually have a remote executable schema (mesh/tools executor) that we can use as Link/Exchange/`fetch` function/`execute` wrapper.
How do you think this should be integrated with Relay? From my experience, I used https://github.com/relay-tools/react-relay-network-modern for managing the client net

[2022-02-28 09:51] n1ru4l commented on #12
I neve used [react-relay-network-modern](https://github.com/relay-tools/react-relay-network-modern) before.

All that relay-needs is basically a fetcher function.

[code]

[2022-02-28 09:51] dotansimha opened #14 "Initial experiments with the public API"

[2022-02-28 09:53] dotansimha commented on #12
that's great! we already plan to expose raw fetch/execute functions, so it should be simple to integrate!

[2022-02-28 10:05] ardatan commented on #2
Do we count `GraphQLError`s returned from `200` response body's `errors` as errors or just HTTP errors?

[2022-02-28 10:10] dotansimha commented on #2
@lutter @azf20 @ what do you think?
I think most of the indexing/runtime/validation errors are returned from `graph-node` / gw in a valid structure for `GraphQLError`? (`{ errors: { message: string }[], data?: any }`)? so we can treat those are actual errors in the client?

For the network errors, we should definitely use those are trigger for retry/fetch.

Btw, also worthing about thinking on a s

[2022-02-28 10:51] azf20 commented on #2
Looks good! Yes I think that a lot of `graph-node` errors return a `200` response with `errors` in the body so we can treat them as errors in the client.

[2022-02-28 10:53] azf20 commented on #4
That makes sense to me - @Jannis what do you think?

There is some corresponding work in `graph-node`, and maybe also in Gateways to support? Of course would also need to decide what metadata is of interest etc.

[2022-03-09 14:29] dotansimha commented on #13
Done in https://github.com/graphprotocol/graph-client/pull/7

[2022-03-09 14:29] dotansimha commented on #11
Done in https://github.com/graphprotocol/graph-client/pull/7

[2022-03-09 14:29] #11 closed

[2022-03-09 14:29] dotansimha commented on #10
Done in https://github.com/graphprotocol/graph-client/pull/7

[2022-03-09 14:29] #10 closed

[2022-03-09 14:29] dotansimha commented on #2
Done in https://github.com/graphprotocol/graph-client/pull/7

[2022-03-09 14:29] #2 closed

[2022-03-09 14:29] dotansimha commented on #3
Done in https://github.com/graphprotocol/graph-client/pull/7

[2022-03-09 14:29] #3 closed

[2022-03-09 14:29] dotansimha commented on #9
Done in https://github.com/graphprotocol/graph-client/pull/7

[2022-03-09 14:29] #9 closed

[2022-03-09 14:29] #8 closed

[2022-03-14 11:13] dotansimha opened #16 "Built-in implementation for client-side mutations?"
Inspiration: https://github.com/graphprotocol/mutations

[2022-03-14 11:14] dotansimha commented on #16
@ardatan @azf20 what do you think?
We can integrate this tool with the client, so you can define the mutations as part of the composed schema (today, dapps need to separate schema for that)

[2022-03-15 12:13] azf20 commented on #16
Hey @dotansimha interesting - graphprotocol/mutations hasn't been actively maintained for a while, would that be the best tool to use here?

[2022-03-15 12:16] dotansimha commented on #16
I think we can integrate that as `additionalTypedefs` that already exist in Mesh. Also, it will be fully typed and decoupled from the app state (the `graphprotocol/mutations` is super specific to apollo, and it created a new local schema).
Doing it with Mesh will create a single composed schema with any custom schema/code, so it should make it easier.

[2022-03-15 13:41] azf20 commented on #16
OK - so goal is to use Mesh instead of `graphprotocol/mutations`?

[2022-03-15 13:46] dotansimha commented on #16
Yeah, I think so, this way dApps can implement custom logic and choose how to manage and execute mutations (for example: log in with wallet, sign a message, the send it directly to the smart contract).

[2022-03-15 13:47] azf20 opened #18 "Decentralised network: number_gte"
When polling subgraphs on the network via the gateway, clients might receive responses from indexers at different blocks for different queries. In particular it is not desirable for a client to travel backwards in time (when polling the subgraph for updates, for example).

Developers can ensure that they don't go backwards by passing a `number_gte` argument to the `block` parameter, as follows:
[c

[2022-03-15 13:53] dotansimha commented on #18
Few implementation details questions:
* Since we are going to offer the option to use multiple indexers (for example, with fetch strategies: fallback, race, or with client-side composition where you have a unified `Query` type) - how should it work in that case? I guess we'll need to maintain a record for the block number per each source?

* Do you think this should be built-in in the client? (whe

[2022-03-15 13:53] dotansimha commented on #18
Also, @ardatan ^ what do you think?

[2022-03-15 14:03] azf20 commented on #18
This is already how it works via the Gateway (the gateway maintains the record that you describe). In the future graph-client can facilitate going directly to multiple indexers (not via the gateway), but at the outset I think we just need to handle the `number_gte` part

I think it does make sense to build this in as an option, I am not sure at what level of configuration makes sense

[2022-03-15 14:03] azf20 commented on #16
OK - that sounds good to me. Feels like we could have some nice illustrative examples, in particular of how it can tidy up frontend code!

[2022-03-15 14:08] dotansimha commented on #18
Yeah, I was thinking maybe this could be done on the `graphql` handler level, where you do something like:

[code]

And then it will make sure to keep that source in sync (by adding `_meta` to queries, and use `0` by default until we know the actual value).  This way users can choose what indexers/sources/Subgraphs need that.

If I understand correctly, users who run `graph-node` only, don't neces

[2022-03-17 20:01] azf20 commented on #18
Yes, this definitely should be at the user's discretion. I think the graphQL handler level you describe seems like a good option!

[2022-03-21 08:43] matthewlilley opened #19 "Next.js example"
Thanks for sharing these. I've tried using various of the examples provided in a Next.js application, I was hoping to use Apollo but failed to get it running smoothly. It would be useful to see some examples if you have the time to do that :)

[2022-03-22 12:22] matthewlilley commented on #19
I think the issues I was seeing was when using Apollo, and more complex config with transforms. I tried again this morning and I was able to get data with the simple version, but lots of critical errors in console the moment I make it slightly more complex.

[2022-03-22 12:24] ardatan commented on #19
@matthewlilley Could you share your example that has those errors?

[2022-03-22 12:25] matthewlilley commented on #19
For context, we have around 15 identical subgraphs across different networks for our exchange. I'd like to query them all in one, with at least some simple transformations like prefixing ETHEREUM_, MATIC_, etc... and later would like to apply some schema stitching too. The basic example works great, but since they're the same I need transforms. I'd also like to use Apollo on the frontend so I can

[2022-03-22 12:25] matthewlilley commented on #19
Yeah, sure. Let me throw it up.

[2022-03-22 12:25] matthewlilley commented on #19
Yeah, sure. Let me throw it up.

[2022-03-22 12:37] matthewlilley commented on #19
You'll want to pull this branch

https://github.com/sushiswap/interface/tree/feature/analytics

- pnpm i
- pnpx turbo run dev
- pnpx turbo run dev --scope=analytics

This isn't using Apollo at the moment, and I get the data, but see a lot of these critical dependency warnings in console.

I'll try wiring up Apollo in the meantime, I never managed to get this working with any kind of transforms, I

[2022-03-23 00:03] renovate[bot] opened #23 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency @graphql-mesh/urql-exchange to v2
 - [ ] Update all non-major dependencies (`@babel/core`, `@babel/plugin-proposal-deco

[2022-03-30 18:33] nezouse opened #31 "Different sources based on chainId"
Hi, is there a way to change source urls in runtime? Either automatically or by providing a variable is fine.
Multiple clients is also fine i guess?
But for sure need an option to do that.

Sorry if it's obvious, but just found it and try to check if we can use it.

[2022-03-31 15:21] matthewlilley commented on #19
![image](https://user-images.githubusercontent.com/6063350/161090913-33c5a18e-0d84-4c0f-ac24-e8ad56745bba.png)

Even though this was working in development with the errors, I'm seeing this when building in production.

[2022-03-31 16:34] matthewlilley commented on #19
Turns out this build error is because Node 16 is required and Vercel only supports Node 14.

[2022-03-31 17:40] matthewlilley opened #34 "Node v14 support"
It seems that we're locked into depedencies which will only work on Node v16. Unfortuantely even AWS isn't supporting v16 yet which means we're blocked from using this. I have done some trial and error to find v14 compatbile options, but unable to find any compatible combination so far.

[2022-03-31 18:13] matthewlilley commented on #34
`../../node_modules/.pnpm/fast-json-stringify@1.21.0/node_modules/fast-json-stringify/index.js
Module not found: Can't resolve 'long' in '/home/feedme/interface/node_modules/.pnpm/fast-json-stringify@1.21.0/node_modules/fast-json-stringify'

Import trace for requested module:
../../node_modules/.pnpm/graphql-jit@0.7.3/node_modules/graphql-jit/dist/execution.js
../../node_modules/.pnpm/graphql-jit@

[2022-03-31 18:29] matthewlilley commented on #19
#34

[2022-03-31 18:44] n1ru4l commented on #34
@matthewlilley This seems to be a webpack issue. Can you verify the same happens without bundling your AWS Lambda code? (https://github.com/fastify/fast-json-stringify/issues/67)

[2022-03-31 20:11] matthewlilley commented on #34
Also, production build on Node v16 is successful and works fine. Node v14 is breaking with "Unexpected token '??='"

[2022-03-31 20:59] matthewlilley commented on #34
@n1ru4l I've struggled to find the exact dependency which is the trouble maker, but whenever the codegenerated SDK is used during build time it will bail with this error. I was able to avoid the error during build by using a dynamic import, but the error is still thrown during the function invocation.

This is the branch I'm working from:

https://github.com/sushiswap/interface/tree/feature/analyt

[2022-03-31 21:19] n1ru4l commented on #34
@matthewlilley Can you please search your node_modules for usages of the `??=` operator?

[2022-03-31 21:22] matthewlilley commented on #34
@n1ru4l I've been speaking with the Vercel team about this issue and they've said that

"Since deps are not compiled when being used server-side, this error can't be avoided unless the child deps of graphql-mesh support v14 (even in GSSP)"

I searched node modules and could find no usages of ??= operator within node_modules, only in the .next output folder.

[2022-03-31 21:35] n1ru4l commented on #34
I narrowed it down using the GitHub search: https://github.com/search?p=3&q=schemeFetch&type=Code

https://github.com/nodejs/undici/blob/8b1dcd44755d7c9bfba06066518f4c01629ad1c0/lib/fetch/index.js#L794-L795

[2022-03-31 21:46] n1ru4l commented on #34
I created https://github.com/nodejs/undici/pull/1318

[2022-03-31 21:51] matthewlilley commented on #34
@n1ru4l Legend. Thanks for sticking with me on this one 👊

[2022-04-03 13:35] matthewlilley commented on #19
It would be good to see a Next.js example with Apollo & urlq, right now both fail with the common errors you see with isomorphic web frameworks, e.g. "Module not found: Can't resolve 'fs'".

[2022-04-03 13:41] matthewlilley commented on #19
Seems to always be issues like this when the generated library is imported on the client. I've only been able to make use on the server so far. I've never had a problem with Apollo in Next.js before so assume this is a graphprotocol/client or graphqlmesh issue.

[2022-04-12 15:45] dotansimha opened #38 "Built-in pagination for making it easier to deal with `graph-node` limitations?"
The goal of this idea is to have an option to allow users to fetch more than the limit of `graph-node`, without being concerned about orchestrating calls.

Today, the limit is 1000 records per page.

For example, if a user needs to have more than 1000 (for example 5000), they should be able to specify it in their GraphQL request, and then `graph-client` can orchestrate the 5 calls to get the list

[2022-04-12 15:45] dotansimha commented on #38
@ardatan let's explore this option to have an Executor that is aware of this feature? :)

[2022-04-12 15:46] dotansimha opened #39 "Integration with react-query"

[2022-04-13 13:48] #16 closed

[2022-04-13 13:52] dotansimha commented on #34
Merged in `undici` repo, waiting for a release, then we'll update and cut a release here as well.

[2022-04-13 14:02] ardatan commented on #19
It is not this project specifically but GraphQL Mesh which Graph Client heavily uses under the hood. We deployed one of our example projects that use GraphQL Handler just like GraphQL Client to Vercel;

Logs; https://vercel.com/theguild/graphql-mesh/A3MASwMEGhpWbwj4scpPy6t1bhqj
Working endpoint; https://graphql-mesh.com/api/covid
Project; https://github.com/Urigo/graphql-mesh/tree/master/website/s

[2022-04-13 16:19] schmidsi commented on #38
Important here is that the recommended approach of paginating through a bigger data set is using the `..._gt` filters on numerical attributes like block number or timestamp. Instead of using the `first:`, `skip:` arguments.

[2022-04-14 11:24] dotansimha opened #41 "Support Subgraphs deployed in cross-chain mode"
Based on our talk and discussions with multiple users, we saw a need to support identical Subgraphs that are deployed on different chains.

This issue tries to cover the needs, use-cases, and requirements to support this feature as part of the client-side composition feature.

### Use-case 1: Subgraphs are managed separately and prefixed

Status: ✅ (can be implemented now without any changes to `g

[2022-04-14 13:09] dotansimha opened #42 "Warn on too complex queries?"
`graph-node` has limitations on query complexity/weight. We can detect those ahead of time and warn the user.

[2022-04-20 13:12] azf20 commented on #41
thanks @dotansimha! An additional use-case would be where users want to aggregate data across subgraphs, for example if a user's `totalSwaps` are tracked on both chains A & B, you would want to be able to fetch the combined `totalSwaps` across chains (i.e. `A_User.totalSwaps + B_User.totalSwaps`). Is this a subset of your use-case 2?

[2022-04-21 17:02] wanglonghong commented on #41
hey @dotansimha. sometimes it doesn't work to parse prefix in yml file.

 What I did is just to follow the guides described in Readme.md.

 I tested the `build-client` script with two different yml file.
 First one is successful
 `sources:
  - name: uniswapv2
    handler:
      graphql:
        endpoint: https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2
  - name: compoundv2
    handler:

[2022-04-21 17:08] ardatan commented on #41
Could you make sure you installed `@graphql-mesh/transform-prefix` as in this example?
https://github.com/graphprotocol/graph-client/blob/main/examples/composition/package.json#L13

[2022-04-21 17:10] wanglonghong commented on #41
Let me do it right now and keep you updated.

[2022-04-21 17:14] wanglonghong commented on #41
It worked! thanks for your help @ardatan

[2022-04-25 01:29] matthewlilley commented on #41
One use-case that's coming to mind at the moment is ability to query all Tokens of an exchange across all networks, and merge the chain into each object. This would be especially useful for cross chain token actions.

[2022-04-25 06:25] dotansimha opened #46 "Fetch strategy: `highestValue` (to implement most synced)"
In cases where you might have two sources and you will query both, and only take the most synced (highest block), this might be useful.

To achieve that, we need to make sure to add `__meta` and block information to outgoing requests:

[code]

 and then check the response based on `_meta.block.number` on both responses?

[code]

[2022-04-25 07:11] dotansimha commented on #41
Oh that's interesting, @ardatan do you think this is something we can do now with the existing Mesh transformers?

[2022-04-25 07:19] dotansimha commented on #38
Interesting, thanks @schmidsi !
@ardatan do you think we can add the mode into [the new transformer](https://github.com/graphprotocol/graph-client/pull/37) ?

[2022-04-25 07:27] dotansimha commented on #18
Implemented in: https://github.com/graphprotocol/graph-client/pull/37
We hope to get this in soon :)

[2022-04-25 07:52] dotansimha commented on #46
Side note: we need to use `chainHeadBlock` from the `graph-node` index GraphQL API

[2022-04-25 08:11] dotansimha opened #48 "Automatic cursor tracking for fetching more records"
Important here is that the recommended approach of paginating through a bigger data set is using the `..._gt` filters on numerical attributes like block number or timestamp. Instead of using the `first:`, `skip:` arguments.

_Originally posted by @schmidsi in https://github.com/graphprotocol/graph-client/issues/38#issuecomment-1098244406_

[2022-04-25 08:51] wanglonghong commented on #46
This architecture is really awesome. if we could have a health-check endpoint to get `chainHeadBlock`, its also helpful.
I think the following is an ideal configuration.

Current configuration.

Proposed configuration

[2022-04-25 09:10] dotansimha commented on #18
This is now available in `@graphprotocol/client-cli@0.0.5`, docs are here: https://github.com/graphprotocol/graph-client/blob/main/packages/block-tracking/README.md

[2022-04-25 09:10] #18 closed

[2022-04-25 09:10] dotansimha commented on #38
This is now available in `@graphprotocol/client-cli@0.0.5`, docs: https://github.com/graphprotocol/graph-client/blob/main/packages/auto-pagination/README.md

[2022-04-25 09:10] #38 closed

[2022-04-25 09:14] dotansimha commented on #48
@ardatan do you think we can try to implement this one with the existing tooling in Mesh?

[2022-04-25 09:16] dotansimha commented on #19
Hi there! With the recent upgrades in `graph-client` internals, we can see that running it in NextJS works fine :)
Please try `@graphprotocol/client-cli@0.0.5` and let me know if we need to reopen this issue. Also we updated the examples here: https://github.com/graphprotocol/graph-client/tree/main/examples/nextjs

[2022-04-25 09:19] ardatan commented on #48
I just need more context about the flow. What do we expect Graph Client to do behind the scenes?

[2022-04-25 10:43] dotansimha commented on #48
@schmidsi maybe you can share example queries?

[2022-04-25 11:09] dotansimha commented on #19
Fixed in:

[code]

PR: https://github.com/graphprotocol/graph-client/pull/50
release notes: https://github.com/graphprotocol/graph-client/pull/51

[2022-04-25 11:09] #19 closed

[2022-04-25 11:25] azf20 commented on #31
From the issue title, it seems like the motivating use case might be connecting to subgraphs for different chainIds (which presumably all have the same schema?) I wonder if this cross-chain specific issue is maybe relevant here @nezouse? https://github.com/graphprotocol/graph-client/issues/41

[2022-04-26 09:06] OlaStenberg commented on #41
I can confirm pagination issues with `Use-case 2: Merge responses`

I have two different subgraphs on the same chain and wants to merge on `Token` to retrieve different fields:

query Tokens {
  bentoBox(id: "123") {
    tokens {
      id
      symbol
      rebase {
        elastic # need this from graph A
      }
      derivedETH # need this from graph B
    }
  }
}

This works, but tokens has `f

[2022-04-28 07:55] ardatan commented on #46
@wanglonghong I think your feature request is not related to the actual ticket. So please create new tickets for your feature requests and issues instead of writing under an unrelated one. Thanks

[2022-04-28 09:13] nezouse commented on #31
Sorry, i totally forgot about this question. One use case is fetching cross chain and this is fine.
The other use case i was asking here for is fetching data from different subgraph based on which chain user is connected to.

Right now we have smth like this (no graph-client):
[code]

[2022-04-29 12:33] wanglonghong opened #60 "Graphclient generates unknown type `DocumentNode`"
### Error details

File: .graphclient/index.ts
error: Parameter 'doc' of exported function has or is using private name 'DocumentNode'.ts(4078)

[code]

### How to reproduce the above issue?

Its so simple. just to run the following script. `graphclient build --tsOnly`. This command generates typescript files but also generates unknown type => `DocumentNode`. This type throws when trying to build

[2022-04-30 08:03] matthewlilley commented on #41
One of the things I notice with indentical subgraphs which are deployed across many networks, and when using codegenerated SDK, is the redudency. We can generate N number of SDKs per network and map these, that's fine, but there's a large amount of redudent code which is getting bundled.

[2022-04-30 14:41] matthewlilley commented on #34
I updated from 0.02 to 0.0.5 but unfortunately this has introduced a new error, this works fine on 0.0.2 on Node 16.

You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders

[2022-04-30 17:58] matthewlilley commented on #34
Unfortunately this issue persists on Node v14 with 0.0.5 & 0.0.6 blocking production builds.

![image](https://user-images.githubusercontent.com/6063350/166116970-9a0cbafe-b168-4901-a90b-49e02b8d5f0f.png)

[2022-04-30 17:59] matthewlilley commented on #34
@dotansimha looks like this needs to be re-opened.

[2022-05-01 08:58] dotansimha commented on #34
This happens because Webpack tries to bundle all code, and not just the runtime code that's used (which makes sense...).
The actual issue here is with `undici`, that's the one @n1ru4l fixed in https://github.com/nodejs/undici/pull/1318 .

I'm reopening, let's wait for https://github.com/nodejs/undici/issues/1372 to be resolved and have a new release of `undici` :(

[2022-05-01 08:59] dotansimha commented on #41
Interesting, thank you @matthewlilley .
@ardatan do you think we can configure codegen to provide a more clean output somehow?

[2022-05-01 09:00] dotansimha commented on #31
Thanks, @nezouse @azf20
Let's track this in https://github.com/graphprotocol/graph-client/issues/41

[2022-05-01 09:00] #31 closed

[2022-05-01 09:01] dotansimha commented on #60
@ardatan what do you think?

[2022-05-01 09:01] dotansimha commented on #46
Yeah, seems like there's a lot to explore around the indexing/admin endpoints, we can use it for a lot more! Thanks!

[2022-05-01 21:15] ardatan commented on #60
I need a reproduction because I've never seen this kind of error in our example :/

[2022-05-01 21:40] matthewlilley commented on #34
@dotansimha Yeah, makes sense.

v5.1.0 was released a few hours ago.

https://github.com/nodejs/undici/commit/088518a9d2720c47d94c08c77686e89af787cf3a

[2022-05-01 22:43] matthewlilley commented on #41
Realistically in this specific use case, the only thing which needs to be different is the source endpoint, it could be one SDK which can decide source based on the chainId.

[2022-05-02 06:29] dotansimha commented on #34
Perfect! I see @ardatan already released `cross-undici-fetch` ().

So now the missing piece in that puzzle is: release GraphQL-Mesh -> then we can upgrade and release `graph-client`.

In the meantime, if you are using Yarn, you can add to your `package.json`:

[code]

[2022-05-02 06:33] dotansimha commented on #60
I think I saw this issue in older versions, probably `0.0.3` and it was fixed already in Mesh. Should be fine. Let's wait for @wanglonghong 's update on that. `0.0.6` should fix that.

[2022-05-02 07:24] dotansimha opened #63 "Research possible support for indexer/admin GraphQL endpoints"
This architecture is really awesome. if we could have a health-check endpoint to get `chainHeadBlock`, its also helpful.
I think the following is an ideal configuration.

Current configuration ==>

Proposed configuration ==>

_Originally posted by @wanglonghong in https://github.com/graphprotocol/graph-client/issues/46#issuecomment-1108273307_

[2022-05-02 07:24] dotansimha commented on #46
Implemented based on `meta._block_number` (in a generic way) in https://github.com/graphprotocol/graph-client/pull/58 .
We can track the support for indexer/admin endpoints here: https://github.com/graphprotocol/graph-client/issues/63

[2022-05-02 07:26] dotansimha commented on #63
More info on the admin/indexer endpoints and their supported features: https://thegraph.com/docs/en/indexing/#graph-node (the schema is in https://github.com/graphprotocol/graph-node/blob/master/server/index-node/src/schema.graphql )

[2022-05-02 07:30] #39 closed

[2022-05-02 09:02] wanglonghong commented on #60
@dotansimha. already tried with `0.0.6` but it still generates an unknown `DocumentNode` type.

[2022-05-02 16:37] matthewlilley commented on #34
Ah, I did try setting a resolutions last night but it made no difference. I'll try again to be sure.

[2022-05-02 16:39] matthewlilley commented on #34
https://pnpm.io/pnpmfile#usage

[2022-05-02 16:39] matthewlilley commented on #34
looks like I maybe able to use this instead for pnpm, will test now

[2022-05-02 16:50] matthewlilley commented on #34
@dotansimha great, will try now

[2022-05-02 16:51] matthewlilley commented on #34
@dotansimha Are you sure it was published?

 ERR_PNPM_NO_MATCHING_VERSION  No matching version found for @graphprotocol/client-cli@0.0.7

The latest release of @graphprotocol/client-cli is "0.0.6".

[2022-05-02 16:55] matthewlilley commented on #34
aha, too fast

[2022-05-02 16:58] matthewlilley commented on #34
![Screenshot_821](https://user-images.githubusercontent.com/6063350/166291279-4e97aa38-6592-47c3-bcd3-ecf38eb039bd.png)

We have a new one unfortunately :(

This is different from the previous...

[2022-05-02 16:59] dotansimha commented on #34
Can you please try `yarn why undici` or `pnpm why undici` and share the output?

[2022-05-02 17:03] matthewlilley commented on #34
I'll dump output here, couldn't see anything from a quick glance.

[code]

[2022-05-02 17:05] ardatan commented on #34
I see `@graphprotocol/client-cli 0.0.6` in your log. Are you sure you have updated versions?

[2022-05-02 17:09] matthewlilley commented on #34
one second, there's multiple apps in here

[2022-05-02 17:10] matthewlilley commented on #34
I'll update all to 0.0.7 and try again, but I expect it's just because another app which I'm not trying to build is using it.

[2022-05-02 17:12] matthewlilley commented on #34
@ardatan all are using 0.0.7 now and same issue. This error is different from the previous though. Could it be another depedency?

[2022-05-02 17:13] matthewlilley commented on #34
```this[kHeadersList][kHeadersSortedMap] ??= new Map([...this[kHeadersList]].sort((a, b) => a[0] < b[0] ? -1 : 1))```

This is a new error related to ??= operator, unrelated I think to previous.

[2022-05-02 17:13] matthewlilley commented on #34
https://github.com/nodejs/undici/pull/1309

[2022-05-02 17:14] matthewlilley commented on #34
https://github.com/nodejs/undici/pull/1309/files#diff-17e5e8b1a57b5f2366ef52769f8c28b48d1ab1e755408107e6705eaecbf38217R305

[2022-05-02 17:14] matthewlilley commented on #34
Looks like there's another culprit in the same library...

[2022-05-02 17:17] matthewlilley commented on #34
There's a number of results if you search that library for the dreaded operator

https://github.com/nodejs/undici/search?q=%3F%3F%3D

[2022-05-02 17:19] ardatan commented on #34
Do you have an example repository in somewhere so we can try to patch it and make sure that's the issue?

[2022-05-02 17:23] matthewlilley commented on #34
https://github.com/nodejs/undici/issues/1397

[2022-05-02 17:25] matthewlilley commented on #34
@ardatan Yes, I can give you install commands.

1. git clone https://github.com/sushiswap/interface.git
2. pnpm i
3. pnpx turbo run build --scope=furo

[2022-05-02 17:29] matthewlilley commented on #34
Of course, make sure you're on lts/fermium :)

[2022-05-02 17:36] wanglonghong commented on #60
[code]

I think this is the right position where we have to import `DocumentNode`. because `DocumentNode` is already defined in `graphql` package

[2022-05-02 18:46] matthewlilley commented on #34
https://github.com/nodejs/undici/issues/1397#issuecomment-1115218449

[2022-05-02 19:02] ardatan commented on #60
I have to reproduce it by myself with bunch of trial and errors because you didn't provide one :) So `DocumentNode` import is missing only if you don't have any documents defined in the configuration. Until this gets fixed, you can provide some as a workaround.

[2022-05-02 19:11] wanglonghong commented on #60
Thanks @ardatan . yeah, I didn't have any documents defined in the configuration. Ok. I follow up your temporary fix and will make sure to help you to debug faster.

[2022-05-02 19:27] matthewlilley commented on #34
@ardatan are you able to weigh in here? https://github.com/nodejs/undici/issues/1397

[2022-05-03 09:08] dotansimha commented on #46
Released in 0.0.7 :)

[2022-05-03 09:08] #46 closed

[2022-05-03 09:10] wanglonghong commented on #46
Nice work!

[2022-05-03 09:11] dotansimha commented on #34
@matthewlilley btw, what's your complete project setup? (next? something else? what bundler are you use and what's the version?)
From the screenshots above, I guess it's Webpack - so in this case you can ask Webpack/Babel to JS-compile `undici` in order to eliminate all syntaxes that are not supported on Node 14).

Actually the issue here is not even about runtime - since Mesh will not even use `u

[2022-05-03 10:47] dotansimha opened #67 "Improve JavaScript support"

[2022-05-03 13:48] saihaj commented on #34
@matthewlilley as @dotansimha mentioned this is an issue with bundling in NextJS and transpiling `node_modules` solves this issue
1. `pnpm add next-transpile-modules undici`. We need to add `undici` as dependency cause otherwise it will not be able to transpile the package in prod build
2. Now add this to `next.config.js` this will force it to transpile `undici`
[code]

Checkout https://github.com

[2022-05-03 20:57] matthewlilley commented on #34
@dotansimha Vercel gave us experimental access to Node 16 which has rid the block for us for now.

@saihaj Ah, silly I didn't try this. We use next-transpile-modules a lot, but mostly for local packakges which don't have a build step.

[2022-05-04 00:22] franz101 commented on #48
Prototype in Python in google colab:
https://colab.research.google.com/drive/1Kfl_yNqLA86eLNoCZ-uwmUl8ZQca6bkP?usp=sharing

[2022-05-08 02:32] Luiz-N opened #70 "Auto Pagination broken"
When trying to do a simple query a formatting error is returned. The query runs fine in the cloud & the error only occurs locally when the `autoPagination` transformation is included `.graphclientrc.yml`.

<img width="1342" alt="image" src="https://user-images.githubusercontent.com/3953136/167279240-ad9f9ec1-c941-46a6-9b05-5a7acd8039b0.png">

[2022-05-08 03:28] ardatan commented on #70
Are you using another transform or just auto-pagination?

[2022-05-08 05:07] Luiz-N commented on #70
Contents of the`.graphclientrc.yml` file is below and that is the only transformation. I started with the nextjs example in this repo. Removing the autoPagination transformation allows the query to run successfully.

sources:
  - name: uniswap
    handler:
      graphql:
        endpoint: https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2
    transforms:
      - autoPagination:
          v

[2022-05-08 14:14] ardatan commented on #70
Thanks for the information!
Could you try with the following version?
@graphprotocol/client-cli@0.0.8

[2022-05-08 19:31] Luiz-N commented on #70
Thank you. It is working now! Just as an aside i've noticed two things:

1. In order to get more than 100 results back I needed to add the `first: <number>` parameter to the query. This is not mentioned in the readme.
2. Trying to query for more than 5000 results in the following error. (see screenshot below). According to the official docs the skip parameter should be avoided for large queries fo

[2022-05-08 21:07] Luiz-N commented on #70
Found another bug. Let me know if you want me to create a separate issue for this:

Queries requesting over 1000 results stop respecting the `where:` filters. See screenshots below:

1000 or less in the `first: ` parameter respects the `where` filter:
<img width="1238" alt="image" src="https://user-images.githubusercontent.com/3953136/167315802-913ae111-3b34-4933-855e-dc18edba32eb.png">

Over 1000

[2022-05-09 10:19] ardatan commented on #70
Right now we are making parallel requests but that example does it serially and I'm not sure how it is going to be more performant.
Howevern, we can use `lastId` for the numbers higher than 5000 besides the current solution.

[2022-05-09 10:28] ardatan commented on #70
About ignored arguments in queries, could youcheck if it works with the following version?

@graphprotocol/client-cli@0.0.9-canary-d0defb4.0

[2022-05-10 01:49] Luiz-N commented on #70
I tested `@graphprotocol/client-cli@0.0.9-canary-22437f0.0` and the ignored arguments issue is resolved but i'm still getting the same skip errors

[2022-05-10 14:58] ardatan commented on #70
it seems to be working here. Could you help me to reproduce it?
https://codesandbox.io/s/elastic-grothendieck-vt6qfh?file=/.graphclientrc.yml

[2022-05-11 06:13] dotansimha commented on #70
@Luiz-N seems like the latest changes of @ardatan should fix this issue, can you please try that?

[2022-05-11 06:16] dotansimha commented on #34
Thanks for the update @matthewlilley !
Let's keep this open for visibility, and see how things progress on `undici` side.

[2022-05-12 01:29] Luiz-N commented on #70
It's working! [Here's a query](https://codesandbox.io/s/nervous-shannon-sjlqq9) returning 1000 records. nice!

[2022-05-12 03:39] ardatan commented on #70
Great! Closing this issue then!

[2022-05-12 03:43] ardatan commented on #67
New examples are available under examples folder for both ESM and CJS using Vanilla JS

[2022-05-12 03:43] #67 closed

[2022-05-16 05:28] Luiz-N commented on #70
@ardatan I seem to be getting the `skip` limit issue again after trying to query for more than 5000 records.. Not sure what has changed. Tested latest version `0.0.10` and the canary builds posted above. Am I messing something up?

https://codesandbox.io/s/brave-feistel-599bjt?file=/package.json

[2022-05-18 19:30] OlaStenberg commented on #70
Hey,

I have two sources with prefixes and can't get auto paginatino to work, am I missing something?

When running this query: https://codesandbox.io/s/sharp-faraday-3drfno?file=/kovan-legacy-exchange.graphql

I get this error back:
![image](https://user-images.githubusercontent.com/29061789/169140559-cb9f92dd-4a49-465c-b6ea-a47541428488.png)

Would you like me to open up a new issue for this?

[2022-05-24 09:26] ardatan commented on #60
Could you try with the latest versions? It should be fixed with the latest release.

[2022-05-24 12:30] wanglonghong commented on #60
I think it is still the same if I upgraded the version properly.
I created an action in the same repo. (https://github.com/wanglonghong/graphclient-test)
you can see the logs here.
https://github.com/wanglonghong/graphclient-test/runs/6573271048?check_suite_focus=tru

[2022-05-25 14:32] dotansimha opened #90 "Native support for data type of `BigInt`"

[2022-05-25 14:32] dotansimha opened #91 "Native support for data type of `Address`"

[2022-05-25 14:32] dotansimha commented on #91
@azf20 can you please share more info on how it should be parsed on the client and how should it be represented as TS type?

[2022-05-25 21:15] azf20 commented on #91
[Ethereum addresses are checksummed](https://docs.ethers.io/v5/api/utils/address/#address), but graph-node returns address fields lowercased. This can lead to confusion on the client side (e.g. if users try to match lowercased with checksummed based on string matching).

We could use something like https://docs.ethers.io/v5/api/utils/address/#utils-getAddress to checksum addresses appropriately

[2022-05-30 07:15] matthewlilley commented on #41
It's really important to consider that there will be ID collisions when querying across multiple chains, especially with something like tokens, so I expect when an SDK is generated the IDs would have to be prefixed (ideally by chainId since this is the conventional identifier).

In an ideal world I'd be able to do something like this:

sdk.Factory({ chainId }) or even sdk.Factory({ chainIds }) for

[2022-06-01 15:29] dotansimha commented on #41
@matthewlilley thanks for this, it's really helpful.
We decided to go with a simpler approach that can be used for any kind of composition. These are the main points:
1. You can decide how to merge, compose and manage your eventual schema and execution. So `additionalResolvers` and `additionalTypedefs`  are the way to declare the merging strategy and have custom GraphQL schema and resolvers.
2. To

[2022-06-01 21:14] dotansimha commented on #41
Thanks for the feedback @matthewlilley ❤️ I'm going to merge #86 soon, then we'll keep the issue around for some cleanups and feedback.

[2022-06-01 23:59] dotansimha commented on #60
This should be fine now with 0.0.11. Another workaround to avoid this issue is to make sure to add any GraphQL query, even as dummy one like `query dummy { __typename }`.

[2022-06-02 00:00] dotansimha opened #101 "Remove all references to NodeJS core packages"

[2022-06-02 00:03] dotansimha commented on #70
@ardatan what's the underlying issue here? is there anything we can do to improve?

[2022-06-02 15:14] ardatan commented on #70
@Luiz-N Could you create a new issue with more specific scenario?
@OlaStenberg Could you create a new issue with that reproduction and a description that says auto pagination transform breaks the query when there are other transforms like `prefix`?
Thanks

[2022-06-02 15:15] #60 closed

[2022-06-02 16:18] OlaStenberg opened #102 "Auto pagination with prefix transformation - "Cannot return null for non-nullable field Query.<field_name>""
I have two sources with prefixes and can't get auto pagination to work, when I run this query: https://codesandbox.io/s/sharp-faraday-3drfno?file=/kovan-legacy-exchange.graphql
(`first: 1000` works)

Error message:
![image](https://user-images.githubusercontent.com/29061789/169140559-cb9f92dd-4a49-465c-b6ea-a47541428488.png)

[2022-06-04 18:22] dotansimha commented on #102
@ardatan what do you think?

[2022-06-06 09:27] ardatan commented on #48
I think we are now using this approach if more than 5000 records requested

[2022-06-06 16:22] dotansimha commented on #41
Closing this for now, feedback is always welcome through issues :)

Also related: https://github.com/graphprotocol/graph-client/pull/108

[2022-06-06 16:22] #41 closed

[2022-06-07 14:59] ardatan commented on #101
Closing this issue and let's create more specific issues 👍

[2022-06-07 14:59] #101 closed

[2022-06-07 15:08] ardatan commented on #102
@OlaStenberg Could you test with these versions?
https://github.com/graphprotocol/graph-client/pull/110#issuecomment-1148792629

[2022-06-07 17:05] matthewlilley opened #111 "Huge amount of redudant code required to satisfy cross chain needs"
Here's an example of a single product which is being launched a number of chains.

Each chain requires:

- 3 graphql files (identical, besides query names & prefix)
- 3 sources (identical, besides source & prefix)

99% of this code appears to be redundant, and leads us towards having these huge if/else statements in our API because there seems to be no clean way to query per chain as we did in the

[2022-06-07 17:39] ardatan commented on #111
https://github.com/graphprotocol/graph-client/pull/112

[2022-06-07 19:07] matthewlilley commented on #111
Yeah, passing context and interpolating is much better.

https://github.com/sushiswap/sushiswap/commit/d7e71c3c7c43e55119d18fffae22034f844fb9af

[2022-06-08 13:58] matthewlilley commented on #91
Yes, this has definitely been confusing. I always wondered if there was a reason for enforcing lowercased addresses since the common convention is the opposite, to use checksummed addresses.

[2022-06-26 06:42] #102 closed

[2022-06-26 06:51] dotansimha commented on #102
Fixed in:
[code]

[2022-06-30 20:08] rhlsthrm opened #132 "Use graph client with docker network based graph node"
We are using a graph node as part of a fully-local setup:

https://github.com/connext/nxtp/blob/a0eb052ac0abb8b83821005f1c44dd8d2448a1fb/docker-compose.chains.yaml#L21

I want to be able to generate a graph client that can be used on resources within this docker network that talk to the graph node. The config for this would look like this:

https://github.com/connext/nxtp/blob/e0519f79172025770047

[2022-06-30 22:43] ardatan commented on #132
You can use string interpolation to give different values for `endpoint`;
[code]
So you will give different env var during the build, and use a different one in the docker container.

[2022-07-05 02:24] rhlsthrm commented on #132
@ardatan this is perfect, thank you for this!

[2022-07-05 09:04] ardatan opened #135 "Document string interpolation with details"
https://github.com/graphprotocol/graph-client/issues/132#issuecomment-1171744977

[2022-07-06 22:34] base0010 commented on #132
Tried this as mentioned and seemed to work fine for the generation step however at runtime we get this error,
`💥 🕸️  Mesh TypeError: Only absolute URLs are supported
    at getNodeRequestOptions (/home/node/node_modules/node-fetch/lib/index.js:1327:9)
   ....` is there another option or parameter we need to enable to get this to work @ardatan

[2022-07-06 22:57] ardatan commented on #132
What do you provide in your env variable?

[2022-07-06 23:52] #132 closed

[2022-07-07 22:33] nasdf opened #138 "Failed to generate schema error"
I can't seem to get a client generated from our graph endpoint.

`package.json`

[code]

`.graphclientrc.yaml`

[code]

Error output below.

[code]

[2022-07-10 04:30] matthewlilley opened #145 "Order by nested relation"
[code]

I assume this is limitation with GraphQL, and/or implementation of it by The Graph, since I'm unable to do a simple orderBy: b.value

Have any suggestions here? I wonder if we can work around this with graph client since not being able to order by a property nested 1 level deep seems silly...

Sorry to tag but I'm sure you work some magic @ardatan

[2022-07-10 06:47] dotansimha commented on #145
At the moment you can only override the resolver and implement your own login to filter by that entity.
We recently got this PR merged in `graph-node`: https://github.com/graphprotocol/graph-node/pull/3184 (it's currently in testing, we expect this to be available to use very soon!)

[2022-07-10 06:51] matthewlilley commented on #145
Amazing! Thanks for the heads up on this one.

[2022-07-10 06:52] matthewlilley commented on #145
Amazing! Thanks for the heads up on this one.

[2022-07-10 06:54] #145 closed

[2022-07-10 18:13] matthewlilley opened #146 "Custom resolver in cross chain mode fail if one source fails"
Using the cross-chain-extensions example which has been very useful, but If I have 20 sources for the same subgraph across networks and I'm querying them as a whole, if one endpoint fails, it seems the entire thing fails.

I wonder if there's a way to make this more robust in the sense that it can deal with some of the endpoints failing but still return data for the others, or else the weakest lin

[2022-07-11 14:38] tmigone commented on #138
I was hitting the same error, upgrading `@graphprotocol/client-cli` to `v2.0.2` fixed it.

[2022-07-11 15:54] #138 closed, assigned to nobody

[2022-07-13 09:51] matthewlilley opened #148 "Unexpected behavior from first & where"
const { liquidityPositions }: { liquidityPositions: LiquidityPosition[] } = await sdk.LiquidityPositions({
    first: 1000,
    where: { user: MAKER_ADDRESS[chainId] },
})

You would think this would be "WHERE user = MAKER_ADDRESS" return first 1000 enitites where this condition is met.

However, The GraphQL implementation by The Graph does not work in this way, it is scanning the first 1000 rows,

[2022-07-13 09:57] matthewlilley commented on #148
Unfortunately, this makes auto pagination pretty much useless. I think there has been an implementation error in the creation of auto pagination, maybe because this behavior is odd. You cannot use first/skip as a limit/offset. It just doesn't work in a performant way with The Graph.

[2022-07-13 10:06] matthewlilley opened #149 "Auto pagination does not work with nested first"
Hey @ardatan,

Auto pagination doesn't do anything when first is nested, these should be in the 10s of thousands.

![Screenshot_434](https://user-images.githubusercontent.com/6063350/178708229-17bc2871-fdb7-46a4-90c2-6452732ff135.png)

![Screenshot_435](https://user-images.githubusercontent.com/6063350/178708255-edea8d3a-81bd-4945-97e4-2cab8c3734a2.png)

[2022-07-13 10:37] matthewlilley commented on #90
Yeah, I'm a bit hessitent to enforce BigInt just yet. There's good but not enough support for all users, yet. We use JSBI to represent BigInt in our dApps, which I think would be a great middle ground.

[2022-07-13 11:37] matthewlilley opened #150 "Single source will cause generate to fail, adding second will allow it to succeed"
In the past few days a bug was introduced, I think by the core graph mesh libraries, which now causes generation to fail if you have a single source.

[2022-07-18 22:59] frankfka opened #159 "Generated Graph SDK does not throw on Errors"
With the generated graph client, if we have: `result = await graphClient.SomeQuery({ ...variables })`. It seems like the `SomeQuery(...)` call does not throw when the graph responds with:

[code]

Is this expected behavior? One can easily test this by passing a `ethers.BigNumber` as a variable to a test query

[2022-07-19 08:35] ardatan commented on #146
`Promise.allSettled` can be used instead of `Promise.all` maybe?

[2022-07-19 13:13] ardatan commented on #150
Could you share a reproduction on CodeSandbox or StackBlitz? Thanks!

[2022-07-19 13:14] ardatan commented on #149
Could you share a reproduction on CodeSandbox or StackBlitz? Thanks!

[2022-07-19 13:14] ardatan commented on #148
@dotansimha I'm not sure how we can solve this on the client side. Any ideas?

[2022-07-19 13:15] ardatan commented on #146
Does this solve your issue? If yes, would you create a PR to update the example on the repo? Thanks!

[2022-07-19 13:17] matthewlilley commented on #150
If you're able to generate with a single source then I'd assume it's resolved here, we're using multiple sources in all ours at the moment, this was happening in the blog which I moved over to regular graph mesh since it wasn't using any subgraphs.

[2022-07-19 14:07] matthewlilley commented on #149
Have you got a repro template for CodeSandbox or StackBlitz I can fork by anychance?

[2022-07-19 14:20] matthewlilley commented on #148
@ardatan this is a bit of a tricky one. The alternative is querying this way around but first > 1000 does nothing.

https://github.com/graphprotocol/graph-client/issues/149

[2022-07-19 18:28] frankfka commented on #159
Is there an environment that I can fork for this? I haven't been successful in running a `graph-client` project in a Codesandbox/Stackblitz environment.

To give more context on this, I'd expect the result of `getBuiltSDK().someQuery()` to have a GraphQL `errors` field, how come this is not the case? How is this querier generated? I can help look into the source

<img width="619" alt="image" src="

[2022-07-19 19:23] frankfka commented on #159
Right, except it doesn't, as I can't seem to get a codesandbox up, here's the code snippet:

[code]

the `result` here is an `AggregateError`

[code]

[2022-07-20 01:06] frankfka commented on #159
Another simple reproduction, try running this in `examples/node`. Nothing gets thrown, but `errors` is returned:

[code]

[2022-07-20 08:55] ardatan commented on #150
Seems fine. We can close it :)

[2022-07-20 08:55] #150 closed, assigned to ardatan

[2022-07-20 08:57] ardatan commented on #159
You're right it should be thrown. Fixed on Mesh side. We will cut a release here as well soon :)
https://github.com/Urigo/graphql-mesh/pull/4166

[2022-07-20 16:47] matthewlilley commented on #149
Yeah, if you have a basic template I could use for repros that would be great.

[2022-07-20 17:14] ardatan commented on #149
I created this one but not sure if you use it as an SDK with Node, Browser, ApolloClient or Urql etc.
https://codesandbox.io/s/hardcore-antonelli-7e6mlr?file=/example-query.graphql

[2022-07-22 09:40] ardatan commented on #148
@matthewlilley I think this is an unexpected behavior of `graph-node` and I don't think this is something needs to be fixed on Graph Node itself.

[2022-07-22 10:21] ardatan commented on #149
I think this PR covers the use case;
https://github.com/graphprotocol/graph-client/pull/163

[2022-07-22 17:22] ardatan commented on #159
Available in the latest release! Let us know if it still doesn't work properly!
https://github.com/graphprotocol/graph-client/pull/164#issue-1315214243

[2022-07-22 17:22] #159 closed

[2022-07-22 17:22] ardatan commented on #149
Available in the latest release!
https://github.com/graphprotocol/graph-client/pull/164#issue-1315214243

[2022-07-22 18:02] frankfka commented on #159
Works now, thank you!

[2022-07-22 19:32] matthewlilley commented on #149
Thanks @ardatan! I notice when setting first to >5000, I start seeing these errors:

AggregateError: The `skip` argument must be between 0 and 5000, but is 6000,
The `skip` argument must be between 0 and 5000, but is 7000,
The `skip` argument must be between 0 and 5000, but is 8000,
The `skip` argument must be between 0 and 5000, but is 9000,
The `skip` argument must be between 0 and 5000, but is

[2022-07-22 20:40] matthewlilley commented on #149
Ah, I see the "skipArgumentLimit" on the auto-pagination transform config. That looks like it'll do the trick.

[2022-07-22 20:57] matthewlilley commented on #149
Unfortuately not, it seems anything above 5k will fail.

[2022-07-22 23:09] ardatan commented on #149
I think it is not possible to get elements more

[2022-07-22 23:36] ardatan commented on #149
Ok so I think it is not a good idea to have multiple queries for the pagination of the nested fields because we will need to do multiple queries for each nested field and this might take forever on the client side.
In case of exceeding the skip limit, we have to make subsequential queries which are blocking each other.
@dotansimha Not sure if this is what we want to have in Graph Client.

[2022-07-23 09:41] matthewlilley commented on #148
@ardatan Yes, it's unusual behavior of The Graph node. Sometimes we do need to get all records for a particular reason though, in our previous pager we used this method to speed it up.

https://thegraph.com/docs/en/querying/graphql-api/#example-using-and-2

[2022-07-23 09:43] matthewlilley commented on #149
@ardatan is there a reason skip is being used? I know the docs, recommend against using using skip for fetching a large amount of enities, which is what we need in this use case (which is to get all positions for a user/contract).

https://thegraph.com/docs/en/querying/graphql-api/#example-using-and-2

[2022-07-23 12:03] ardatan commented on #148
@dotansimha @kamilkisiela  Should we move this issue to graph-node?

[2022-07-23 12:10] ardatan commented on #149
@matthewlilley Thanks to `skip`, we can still get all the data we need in a single query;
[code]
becomes the following so it is way faster then sending multiple queries by waiting each other's "last id"
[code]

However we do this when `skip` exceeds `5000`. But this is a bit tricky for nested fields because in this case we need to make the same query again and again together with the parent select

[2022-07-23 20:47] matthewlilley commented on #149
@ardatan Gotcha! The alternative is in the other issue https://github.com/graphprotocol/graph-client/issues/148, but ofc this is problematic as well because you'd need to scan all ID's to get back what you want...

[2022-07-25 12:21] ardatan commented on #146
Closing this issue for now then. We can reopen it later if it still doesn't work

[2022-07-25 12:21] #146 closed

[2022-07-26 06:08] matthewlilley opened #167 "Cross chain extension example suddenly failing with Type `Query` has no field `crossRebases`'"
https://github.com/graphprotocol/graph-client/tree/main/examples/cross-chain-extension

Previously worked, I had 3 apps based on this but suddenly they all recieve "Type `Query` has no field `crossRebases`'" like error. I confirmed against your own minimal example here and same behavior.

[2022-07-26 06:14] matthewlilley commented on #167
It seems that an underlying library which wasn't pinned has been updated and is what is causing the error...

[2022-07-26 06:49] matthewlilley commented on #167
Tested each version from 1.0.1 to 2.0.2 and the issue persists, so expect this is related to an underlying library change which is not obvious.

[2022-07-26 16:03] ardatan commented on #167
We are currently working on the fix. You can add `merger: stitching` on top until we release a patch.

[2022-07-26 16:13] matthewlilley commented on #167
Thanks. I tried so many things last night but not this one. Appriciate the heads up on that.

[2022-07-26 17:37] ardatan commented on #167
Could you try with `@graphprotocol/client-cli@2.1.1`? Thanks!

[2022-07-26 17:58] matthewlilley commented on #167
@ardatan I just tested 2.1.1 but the same behavior it seems🤔

[2022-07-26 17:58] matthewlilley commented on #167
I will test your minimal example to be sure

[2022-07-26 18:00] ardatan commented on #167
@matthewlilley Make sure you run `graphclient build` again after updating dependencies because the generated code was broken.

[2022-07-26 18:04] matthewlilley commented on #167
@ardatan Minimal example seems to work, must be a caching issue on my end. Will try agian.

[2022-07-26 18:18] ardatan commented on #167
I also tested here;
https://codesandbox.io/s/musing-benz-od46cq?file=/src/index.ts

[2022-07-26 18:18] matthewlilley commented on #167
@ardatan Strange, I'm struggling with the latest version still...

Error: {"locations":[{"column":3,"line":2}],"message":"Type `Query` has no field `crossChainPairs`"}

[2022-07-26 18:20] matthewlilley commented on #167
Doubled checked my pnpm lock & node modules, all are on the latest version. Three apps are still failing with the same error.

[2022-07-26 18:21] matthewlilley commented on #167
In pnpm I have auto install peer deps as true, maybe something weird is happening with peer dependecies?

[2022-07-26 18:21] matthewlilley commented on #167
I will test

[2022-07-26 18:31] matthewlilley commented on #167
No difference.... Can you tell me what was the bad dependency so I can try and find it in the monorepo?

[2022-07-26 18:35] matthewlilley commented on #167
I'll try to add reproduction because I can't get this to work, it's producing exactly the same error on all 3 apps which previously worked.

[2022-07-26 18:43] matthewlilley commented on #167
@ardatan I'm not familiar with codesandbox. I seem to be unable to force it to build-client, but I made a reproduction here.

https://codesandbox.io/s/wizardly-snowflake-rze2bd?file=/src/index.ts

[2022-07-26 18:47] matthewlilley commented on #167
when I try to build in terminal I see:

/.graphclient/sources/Exchange/introspectionSchema.ts is larger than maximum allowed file size (1171257 > 524288), not synchronizing

so I guess it will not generate graphclient on codesandbox

[2022-07-26 18:50] ardatan commented on #167
You can ignore that warning. The configuration in the sandbox is wrong;
[code]
Sorry but I really need to reproduce it in order to help you. You can try StackBlitz or some other similar platform. Feel free to share when you clearly reproduce it.

[2022-07-26 18:54] matthewlilley commented on #167
Ah, you know what it was... In our blog app we use @graphmesh/cli

I wonder if there's a better way to ensure these kind of conflicts can be avoided. Blog should be able to use a different version without affecting other applications, it's quite strange. Anyway, updating dependency in the blog solved the issue for other apps.

[2022-07-26 18:56] matthewlilley commented on #167
4 apps:

blog: @graphql-mesh/cli@^0.74.1 & @graphql-mesh/graphql@^0.29.1

internal dashboard: @graphprotocol/graph-client@2.1.1
lending dashboard: @graphprotocol/graph-client@2.1.1
liquidity dashboard: @graphprotocol/graph-client@2.1.1

blog dependency caused other unrelated apps to fail...

[2022-07-27 11:54] ardatan commented on #167
I think we can close this.

It happens to all of us actually. We prefer using `resolutions` for those cases or `npx yarn-deduplicate`

[2022-07-27 11:54] #167 closed

[2022-08-03 13:36] dotansimha commented on #148
I'm working on a reproduction and then will open an issue with all the details. Thanks!

[2022-08-08 07:39] dotansimha opened #177 "Improve and update documentation and examples"
Also, move the major part of the docs to https://github.com/graphprotocol/docs

## TODO
- [x] https://github.com/graphprotocol/docs/pull/183/files#diff-eb3f534cddd1e9353423a2efa6d73b602c6ed681c7f7bf5162733655526c4862R28
- [ ] More examples and document the enabled by default plugins

[2022-08-11 06:41] OlaStenberg opened #189 "TypeError: Cannot read properties of undefined (reading 'name')"
Would it be possible to improve this error message:
![image](https://user-images.githubusercontent.com/29061789/184076656-0a1d68e1-5920-4e5b-ad9a-b1aefc02ca55.png)

This shows when there's something wrong in the `query.graphql` file, I've seen it multiple times when the schema has changed and query still has an old field..

[2022-08-11 14:47] chadoh opened #190 "Make auto-pagination use Relay's Cursor Connection Spec"
The [Cursor Connection Spec](https://relay.dev/graphql/connections.htm) has become a de-facto standard in the larger GraphQL ecosystem, as far as I can tell. I first learned about it when using [Gatsby](https://www.gatsbyjs.com/), which uses the modified version of the Cursor Connection Spec advocated in this blog post: [GraphQL Pagination best practices: Using Edges vs Nodes in Connections](https

[2022-08-11 15:02] azf20 commented on #190
@dotansimha I think this is a reflection of the implementation in graph-node, I think you were looking into changing that?

[2022-08-17 10:42] charlypoly commented on #177
@dotansimha, I've already update The Graph docs to better showcase `graph-client`: https://github.com/graphprotocol/docs/pull/183/files#diff-eb3f534cddd1e9353423a2efa6d73b602c6ed681c7f7bf5162733655526c4862R28

Is it sufficient or would you like to see more usage/configuration details?

[2022-08-17 13:06] dotansimha commented on #177
Yeah, that's perfect for now. I do want to move some usage and examples for specific features, but we want to make some features enabled and included by default (like `@live`).

[2022-08-17 13:36] dotansimha commented on #189
@ardatan can you please take a look?

[2022-08-17 13:38] dotansimha commented on #190
Yeah, we are still working on improving that in `graph-node`. After improving it on the schema layer, we'll be able to support that out of the box in `graph-client`.

[2022-08-20 03:57] matthewlilley opened #204 "Auto pagination in combination with cross-chain-extension does not work"
Auto-pagination in combination with cross chain extention gives the error:

The `first` argument must be between 0 and 1000, but is 2000

Reproduction: https://codesandbox.io/s/musing-zhukovsky-2mzu0f?file=/resolvers.ts

[2022-08-22 12:51] OlaStenberg commented on #189
https://codesandbox.io/s/kind-parm-b4j429?file=/example-query.graphql

![image](https://user-images.githubusercontent.com/29061789/185925316-1ff17a4d-e8c0-451d-b52c-0aa54e0dfe39.png)

[2022-08-23 09:11] ardatan commented on #189
This issue has been fixed in the latest release but currently you can see the entire error message if `DEBUG=1` env var exists, I am working on this PR in order to show the entire stack trace even if `DEBUG` doesn't exist.
Could you confirm? Thanks.

[2022-08-23 10:46] OlaStenberg commented on #189
Without DEBUG=1
![image](https://user-images.githubusercontent.com/29061789/186138769-b20da227-8a0f-4e36-9b71-622ccd035824.png)

With DEBUG=1
![image](https://user-images.githubusercontent.com/29061789/186139034-e8740596-444f-437c-825a-0631f819a6fe.png)

Thanks, that's better, not sure why it's complaining about id though

[2022-08-23 13:41] OlaStenberg commented on #189
lol yup, sorry

![image](https://user-images.githubusercontent.com/29061789/186173611-3cc89dad-dfcc-4d73-816e-c806d23cf613.png)

Looks good, thanks!

[2022-08-23 21:27] GundamDweeb opened #209 "AggregateError"
GM

I was going fine incorporating a GraphQL document into my next project.

I encountered this error when I tried to add a second GraphQL document, and still encounter it after:
- Reverting changes
- Clearing .graphclient, node_modules and reinstalling & building
- Creating a new branch from main with the original working branch

#### Error

[code]

#### Client Manifest

[code]

#### Document

[c

[2022-08-24 03:20] ardatan commented on #209
It seems your document is invalid. Could you run the same command with `DEBUG=1` env var?

[2022-08-24 03:33] #189 closed

[2022-08-24 07:46] GundamDweeb commented on #209
I have run it with Debug, and the error was clearly shown thank you. The `($id : String)` needed to be `($id : ID!)`.

This still doesn't solve why it worked initially without showing this error, and now it is producing it.

[2022-08-24 07:46] #209 closed

[2022-08-31 11:23] dotansimha commented on #148
Hi @matthewlilley , I tested ~10 subgraphs with different setups ,but this does not reproduce at all. Can you please share a Subgraph + a query that produces invalid data based on pagination + where filter?

[2022-09-04 13:12] matthewlilley commented on #148
@dotansimha I've asked Lufy to make a repro. We can reproduce this quite easily in a lot of different cases. Will post shortly.

[2022-09-04 15:18] itsjerryokolo opened #222 "TypeError: Class extends value undefined is not a constructor or null"
I'm having this issue running graph-build after upgrading the `client-cli` to `2.2.4`
I'm using this build command for cjs: `graphclient build --fileType json`

<img width="1325" alt="Screenshot 2022-09-04 at 4 05 22 PM" src="https://user-images.githubusercontent.com/73024324/188320693-97302f34-3f35-405f-b310-87813409870b.png">

When I upgraded the cli, it showed the warnings below
<img width="129

[2022-09-04 18:09] ardatan commented on #222
Which version of Node do you have?

[2022-09-04 18:47] itsjerryokolo commented on #222
`v16.6.1`

[2022-09-04 19:04] ardatan commented on #222
Could you share a minimal reproduction on CodeSandbox or StackBlitz?

[2022-09-04 19:48] itsjerryokolo commented on #222
It works on this site. Guess this issue is unique to me. Any ideas where to look?

https://codesandbox.io/p/github/itsjerryokolo/The-Graph-Client_NodeJS/client-cli-2.2.4?file=%2Fpackage.json&selection=%5B%7B%22endColumn%22%3A22%2C%22endLineNumber%22%3A3%2C%22startColumn%22%3A22%2C%22startLineNumber%22%3A3%7D%5D&workspace=%257B%2522activeFileId%2522%253A%2522cl7nqgihs0001lmev4eak9m55%2522%252C%2522

[2022-09-04 19:56] itsjerryokolo commented on #222
Resolved. Upgrading Node to version `16.17.0` solved this issue.
Thanks @ardatan

[2022-09-04 19:56] #222 closed

[2022-09-05 19:46] matthewlilley opened #223 "Latest graph client (2.2.4) is importing @graphql-mesh/graphql 5 times in generated SDK"
Updated to 2.2.4 and started seeing errors about multiple imports. Checked the generated SDK and saw this...

![Screenshot_28](https://user-images.githubusercontent.com/6063350/188506575-80092931-af6b-4630-a9c8-379b59d0d503.png)

[2022-09-05 20:48] ardatan commented on #223
Fixed and released!

[2022-09-05 20:48] #223 closed

[2022-09-06 03:14] matthewlilley commented on #223
@ardatan I tried quickly updating to 2.2.5 and appeared to have the same issue, but I'll double check in the morning to be sure.

[2022-09-06 23:33] ardatan commented on #90
Available in the latest release!

[2022-09-06 23:35] ardatan commented on #4
This is available via `includeHttpDetailsInExtensions` flag. @dotansimha

[2022-09-08 15:19] dotansimha commented on #4
Thanks @ardatan ! Closing ;)

[2022-09-08 15:19] #4 closed

[2022-09-08 15:20] dotansimha commented on #148
Thanks! Please keep us updated :) Keeping open

[2022-09-12 10:29] ethdev279 opened #238 "graph client^2.2.8 failing to run graphql server"
When I run `graphclient serve-dev`, it starts playground and immediately returning error

[code]

in console,

[code]

[2022-09-12 14:42] ardatan commented on #238
Thank you for reporting this issue. It's been fixed in the latest release!

[2022-09-12 14:42] #238 closed

[2022-09-12 22:41] cmwhited opened #242 "Usage with NextJs and Apollo fails build"
# Description

Tried to utilize the graph-client with a nextjs app using apollo with the `@graphprotocol/client-apollo` lib.
The build fails with error:

[code]

[example repo](https://github.com/cmwhited/test-graph-client-apollo)

[2022-09-12 22:55] matthewlilley commented on #90
@ardatan Is there some way to disable this? We don't use native bigint for a few reasons, one being that we aren't able to serialize it, and do a lot of SSR. We use JSBI in our SDKs also to provide maximum browser coverage. This is a bit of a pain for us atm and preventing updating.

[2022-09-12 23:29] matthewlilley commented on #90
Worked around for now, but would be nice if we were able to transform BigInt & BigDecimal ourselves, depending on needs.

[2022-09-13 00:16] ardatan commented on #90
@matthewlilley Graph Client uses `json-bigint-patch` to handle BigInt parsing and serialization. BigInts are first class citizens of JavaScript today and supported by the major browsers.
Could you explain more about the issue you have? Maybe we can help you.

[2022-09-13 00:18] ardatan commented on #242
Please share a reproduction on CodeSandbox or StackBlitz. So we can use the same environment.

[2022-09-13 00:39] cmwhited commented on #242
[Here you go](https://stackblitz.com/edit/nextjs-e2z2w6?file=.graphclientrc.yml)

[2022-09-13 02:04] ardatan commented on #242
@cmwhited Could you update the sandbox because I only see a template for Next.js?

[2022-09-13 02:40] matthewlilley commented on #90
@ardatan I'm unable to build with type safety enabled now.

![Screenshot_804](https://user-images.githubusercontent.com/6063350/189794893-9e5b53b6-f1c6-488b-8751-e4281f7d2201.png)

If I cast to BigInt, like so

![Screenshot_805](https://user-images.githubusercontent.com/6063350/189795355-688b9964-0483-4d18-9654-5ca45e99aa16.png)

Error: Do not know how to serialize a BigInt

[2022-09-13 02:43] cmwhited commented on #242
Try this link: https://stackblitz.com/edit/test-graph-client-apollo?file=package.json

[2022-09-13 02:43] matthewlilley commented on #90
I think it's a bad to assume and even work enforce that everyone would like native bigint support.

And in a case like this it makes even less sense, because it's a timestamp which will never be BigInt, it's a unsigned 32-bit integer...

[2022-09-13 02:58] matthewlilley commented on #90
Maybe type BigIntIsh = bigint | string?

[2022-09-13 03:02] cmwhited commented on #242
If that doesn't work, try https://stackblitz.com/edit/nextjs-v4fvep?file=package.json

[2022-09-13 03:12] matthewlilley commented on #90
This makes too many assumptions. It's parsing ERC20 decimals to BigInt too, this is a unsigned 8 bit integer, it makes no sense to ever be represented as a BigInt but we're forced with it.

[2022-09-13 03:41] matthewlilley opened #243 "Bad assumption that schema BigInt should be transformed into JS native bigint"
There is a bad assumption is that because a property is defined as BigInt in schema, it should be parsed as native JS bigint on client.

It makes the assumption that every single subgraph in existence is using the perfect types for all properties, but that isn't the case, often they're set to BigInt in schema just for conviniance with arithmatic in graph mapping.

An example would be ERC20 decimal

[2022-09-13 03:53] matthewlilley commented on #91
There is one reason they may have decided to do this that I can think of, for sorting... I know that at least in JS, you cannot sort checksummed addresses correctly, they have to be lowercased.

[2022-09-13 08:43] azf20 commented on #90
Agree with @matthewlilley, often users will use BigInt simply for convenience / as a default, and users don't expect the native type

[2022-09-14 13:00] ardatan commented on #243
Reverted in the latest release.

[2022-09-14 13:00] #243 closed

[2022-09-15 09:10] matthewlilley opened #248 "Scalars types are outside of the context scope"
In the latest version, Scalars type is within the BentoBoxTypes namespace, however, the BentoBoxContext is outside of this scope but is still referencing the Scalar types.

![Screenshot_811](https://user-images.githubusercontent.com/6063350/190363879-60805307-b883-47a9-8b5b-30c5c0788f85.png)

![Screenshot_812](https://user-images.githubusercontent.com/6063350/190363888-140b4383-3965-45e7-9402-ab03

[2022-09-15 09:21] matthewlilley opened #249 "Enable code checks for pull requests"
I notice you added a CI workflow at some point to run build, test, etc... However it seems that whenever a new PR is opened these aren't being forced to run and pass before merge.

It would be a good idea to enable this, we can help write some further tests so that we don't see regressions in future.

[2022-09-15 09:48] ardatan commented on #249
CI works on each pull request. The following changeset commit makes it look like that, but that's another issue.
See https://github.com/graphprotocol/graph-client/pull/246

[2022-09-15 10:19] matthewlilley commented on #249
@ardatan Ah, maybe something is missing. A few of these examples on the latest version should definitely cause build errors like I'm seeing with this one.

https://github.com/graphprotocol/graph-client/issues/248

[2022-09-15 10:21] ardatan commented on #249
@matthewlilley It is a missing test for your use case in GraphQL Mesh repository. I am closing this issue and let's track there.

[2022-09-15 10:21] #249 closed

[2022-09-15 16:38] saihaj commented on #248
can you share a reproduction repo for this?

[2022-09-15 17:16] ardatan commented on #248
I believethis has been fixed in the latest Mesh release. We just need to bump the versions here.

[2022-09-15 22:53] shaddamciv opened #251 "example for graphclient --js does not work"
Steps
1. Clone repo
2. Run yarn
3. Goto examples folder and run

 graphclient build --fileType js gives the following output.

Note, that I used the sushi example instead of the given one.

Running graphclient build --fileType json works

Environment  - wsl ubuntu 20.04, node 16.10.0

[code]

[2022-09-16 13:57] ardatan commented on #251
You need to configure your package.json for ESM like here by adding `type: module` etc;
https://github.com/graphprotocol/graph-client/tree/main/examples/javascript-esm

[2022-09-18 02:03] matthewlilley commented on #243
@ardatan I think having the ability to transform schema into native types like bigint, or class transformation is great, but a level of control is needed for legacy reasons. Some subgraphs take 6 months to complete a resync even if we wanted to make schema match, so it's impossible to do this in a short time frame, and for our use case we represent in our own value objects, so native bigint isn't

[2022-09-18 02:04] matthewlilley commented on #243
Something which functioned like this would be pretty awesome:

https://github.com/typestack/class-transformer

[2022-09-20 11:08] grmkris opened #253 "The inferred type of 'createBuiltMeshHTTPHandler' cannot be named without a reference to ...."
When running codegen to create typescript client, I am getting one error, and that is:

[code]

Then I go to `.graphclient/index.ts` and find this piece of code:
[code]

And I annotate it with:
[code]

Error is no more. I'd be happy to contribute to the project and fix this myself, but I don't have time to dig deep, so if you can give me some pointers where to look I can do it.

[2022-09-21 16:58] stefan-girlich commented on #132
perfect, both options work for me and could be a valuable addition to the docs.

related question: in `.graphclientrc.yml`, i want to create 1-n `sources` entries programmatically, also using env vars. is there a syntactic construct which allows that? if not, i would simply create the entire file `.graphclientrc.yml` programmatically.

thanks so much for the quick answer, i highly appreciated it 💯

[2022-09-22 10:06] stefan-girlich opened #254 ""Cannot find module" error due to missing runtime dependency in generated file"
### context and steps to reproduce
i want to use `graph-client` in a web service, so i...

1. follow instructions on https://thegraph.com/docs/en/querying/querying-from-an-application/#graph-client for basic setup: add dev dependency, add `.graphclientrc.yml`
2. run `graphclient build`
3. reference generated code in `.graphclient/` in application code, e.g. `execute`
4. run application locally **=

[2022-09-22 12:25] stefan-girlich commented on #254
### workaround
1. install all `graph-client`-related peer deps manually
2. install all deps seen among generated `.graphclient/index.js` imports

please try step #2 first since step #1 may not be relevant

### example
[code]

### concerns
- not documented in https://thegraph.com/docs/en/querying/querying-from-an-application/
- huge manual effort - is there a smaller set of meta modules which shoul

[2022-09-29 09:38] #177 closed

[2022-09-29 14:48] bxav commented on #242
Hi @cmwhited I have the same issue. Did you find a solution?

[2022-09-29 17:17] cmwhited commented on #242
No solution yet

[2022-09-30 07:05] bxav commented on #242
I directly use the underlying package. Works for me now. I don't really have time to go deeper but it looks like there are some import fixes in the next release of '@graphql-mesh/apollo-link'

[code]

[2022-10-01 23:22] filipv-eth commented on #251
@ardatan having the same issue, even when using the example provided in `graph-client`.

[2022-10-05 03:46] ardatan commented on #254
Please create a reproduction on CodeSandbox or StackBlitz. Thanks!

[2022-10-05 03:46] ardatan commented on #253
Please create a reproduction on CodeSandbox or StackBlitz. Thanks!

[2022-10-05 03:46] ardatan commented on #251
Please create a reproduction on CodeSandbox or StackBlitz. Thanks!

[2022-10-05 03:47] ardatan commented on #248
Closing the issue due to the missing reproduction. Feel free to create a new issue with a reproduction on CodeSandbox or StackBlitz. Thanks.

[2022-10-05 03:47] #248 closed

[2022-10-07 23:39] mpaler opened #278 "Dynamic where clauses"
I'm only first level brown belt in Subgraph/GraphQL so not even sure a feature like this makes sense for the graph-client, but here goes.

I'm finding myself writing duplicate queries to handle different `where` clauses, and obviously this feels redundant and clunky. Doing a bit of research I came across this interesting article which describes a generic way to handle passing different `filter` cl

[2022-10-08 01:08] mpaler commented on #278
In context to this, question, can we do something like this:

[code]
Where `SomeOtherType` could have any shape we want? If so, where & how would one define `SomeOtherType`?

[2022-10-09 04:32] dotansimha commented on #278
Hi @mpaler !
You can leverage the concept of GraphQL `variables` to achieve that.
First, you need to find the actual GraphQL `input` type that's defined for the `where` argument you with to match, and then use that `input` type for your GraphQL query, as a variable (similar to the example you shared). You can do that with GraphiQL, or just introspect the schema and check the API docs of your field

[2022-10-10 13:06] #254 closed

[2022-10-10 13:07] ardatan commented on #253
Closing the issue for now. Feel free to create a new one with a reproduction if you still have the problem. Thanks.

[2022-10-10 13:07] #253 closed

[2022-10-10 13:07] ardatan commented on #251
Closing the issue for now. Feel free to create a new one with a reproduction if you still have the problem.

[2022-10-10 13:07] #251 closed

[2022-10-10 13:08] ardatan commented on #242
Fixed in the latest release!

[2022-10-10 13:08] #242 closed

[2022-10-11 12:42] vlad1chek opened #286 "'chainName' does not exist in type 'MeshContext' | cross-chain-extension"
Hello there!
I found the bug in latest versions of `@graphprotocol/client-cli` and `@graphprotocol/client-add-source-name`. When I try to implement cross-chain query like in your example I can't build my project because I get typescript error:
[code]

I did small investigation and found out that all works fine with old versions:
[code]

Also, you can check the example of the error in codesandbox h

[2022-10-11 13:27] ardatan commented on #286
You need to add this;
https://github.com/graphprotocol/graph-client/blob/main/examples/cross-chain-extension/.graphclientrc.yml#L24

[2022-10-11 13:37] vlad1chek commented on #286
I have it, but it doesn't help. I checked types in `.graphclient` folder and the context indeed has chainName. But for some reason, this error still exists.
[code]

Codesandbox example also has this line in `.graphclientrc.yml` but the error persists.

[2022-10-20 01:29] schmidsi opened #291 "Bug: args.schema.getRootType is not a function after running The Graph Client DevTools"
I'm trying to use the simplest setup of Graph Client to just query my local Graph Node. When I run`pnpm graphclient serve-dev` and run any query in the exposed GraphiQL interface, I receive the following error:

[code]

# Steps to reproduce
_You need to have docker installed and running_

- Clone this repo and checkout this commit: https://github.com/schmidsi/hackathon-starterkit/commit/36017cb4e9

[2022-10-20 02:10] schmidsi commented on #291
Not sure if related but if I try to query through Graph Client I see the following warning in the browser:
[code]

[2022-10-21 12:42] schmidsi commented on #291
Ok, I stripped down the repo to frontend only and pointed to an online subgraph. Here is the CodeSandbox link: https://codesandbox.io/p/github/schmidsi/graph-client-bug-/draft/recursing-scooby?file=%2FREADME.md&workspace=%257B%2522activeFileId%2522%253A%2522cl9ihdaxt0002lqhd8svv4adc%2522%252C%2522openFiles%2522%253A%255B%2522%252FREADME.md%2522%255D%252C%2522sidebarPanel%2522%253A%2522EXPLORER%252

[2022-10-21 12:45] schmidsi commented on #291
Or here as the standalone repo: https://github.com/schmidsi/graph-client-bug-

You can go in there, install dependencies and then run the dev server:
[code]

And run an arbitrary query in the dev GraphiQL like:
[code]

To reproduce. Happend to me on CodeSandbox and isolated env on my machine.

[2022-10-21 14:26] schmidsi commented on #291
Interesting, updating to `"graphql": "^16.6.0",` did the trick. Thanks for the help!

[2022-10-21 14:26] #291 closed

[2022-10-22 09:14] schmidsi opened #297 "SyntaxError: Named export 'ApolloLink' not found. The requested module '@apollo/client' is a CommonJS module, which may not support all module.exports as named exports."
Running into this error while trying to load Graph Client with Apollo and Next.js.

Relevant code might be here: https://github.com/schmidsi/hackathon-starterkit/blob/main/frontend/lib/apolloClient.js

[2022-10-22 14:23] ardatan commented on #297
I think it is an issue with Apollo Client.
https://github.com/apollographql/apollo-feature-requests/issues/287
However we can convert named imports to `default` or `* as` but this would break treeshaking.

[2022-10-22 15:07] schmidsi commented on #297
Thanks for investigating. For my current purpose of building a tech demo/starterkit for the full Graph stack, tree shaking is not a hard requirement. Not sure about other users though?

If there is a fix that we can implement now and remove after Apollo Client fixed it on their side, I think this would be the way to go. Happy implement a hack in my repo like `resolutions` or `transpileModules` but

[2022-10-22 17:02] schmidsi commented on #297
I use Urql for now. Worked great so far.

[2022-10-25 20:18] matthewlilley opened #303 "[Improvement request] Critical dependency: the request of a dependency is an expression"
We use the generated SDK within multiple Next.js applications, and are seeing a lot of these messages.

![Screenshot_62](https://user-images.githubusercontent.com/6063350/197873080-802468bb-4f83-48c1-b713-b8f038c1e536.png)

How can these be avoided?

[2022-10-25 20:35] ardatan commented on #303
Are they preventing you to build the client? If no, you can ignore it.

[2022-10-25 23:23] matthewlilley commented on #303
@ardatan No, not at all. It's more of a nausiance. It clogs up terminal so makes debugging a little difficult.

[2022-10-25 23:23] matthewlilley commented on #303
Wondered how we can mute it.

[2022-10-26 18:41] matthewlilley opened #306 "Distributing an SDK"
Hey, we have a @sushiswap/graph-client package which we want to distribute.

Generating ESM with --fileType js onsistently fails with introspection errors on build.

Generating CJS with --fileType json works, but it requires me to include a bunch of dependencies to the package such as:

"@graphql-mesh/utils": "latest",
"@graphql-mesh/cache-localforage": "latest",
"@whatwg-node/fetch": "latest",
"@

[2022-10-26 20:19] matthewlilley commented on #306
Running the ESM example in this repository:

![Screenshot_82](https://user-images.githubusercontent.com/6063350/198128640-c472f273-edef-42ed-b9ce-d1cf7a494261.png)

[2022-10-26 20:49] matthewlilley commented on #306
I notice that @graph-mesh/utils is imported 4 times in the CJS build too.

![Screenshot_84](https://user-images.githubusercontent.com/6063350/198134581-745a0e5d-095e-44f7-ad7e-6e55b331d7ad.png)

[2022-10-26 22:31] matthewlilley opened #309 "CJS build isn't consumable"
I created a minimal reproduction to demonstrate the issue with a CJS build and consuming it.

https://github.com/matthewlilley/graphclient-cjs

![Screenshot_86](https://user-images.githubusercontent.com/6063350/198150901-f0900570-a9f0-4ded-bc02-8d95b15d3b19.png)

[2022-10-26 22:56] ardatan commented on #303
It depends on your bundler. You can check the bundler's documentation for that.

[2022-10-26 22:56] #297 closed

[2022-10-26 23:05] ardatan commented on #309
Have you tried the same query on the actual GraphQL API?

[2022-10-26 23:46] matthewlilley commented on #309
@ardatan Yes. If you run pnpm dev and run it on the local graphql server it will work. It does this when you build CJS and try to consume it. ESM builds fail completely too.

[2022-10-26 23:51] ardatan commented on #309
@matthewlilley I mean did you try the same query on `https://api.thegraph.com/subgraphs/name/sushiswap/exchange`?

[2022-10-26 23:57] matthewlilley commented on #309
@ardatan The exact query is using prefix and autopagination, but a vanilla version can be seen working here:

https://thegraph.com/hosted-service/subgraph/sushiswap/exchange

[2022-10-27 00:06] matthewlilley commented on #309
@ardatan Ah, so this shows when "first" > 1000, and "first" is passed through the SDK.

![Screenshot_87](https://user-images.githubusercontent.com/6063350/198161023-9f2f71ca-b438-44ad-a23f-e7474fd77e4c.png)

If I set $first = 1001 in the query itself, I see the full error message "The `first` argument must be between 0 and 1000, but is 1001"

![Screenshot_88](https://user-images.githubusercontent.

[2022-10-27 00:07] matthewlilley commented on #309
@ardatan this brings me back to the original issue, which is that pagination doesn't work when you build with:

graphclient build --fileType json

and when you do graphclient build --fileType js, it fails completely

[2022-10-27 03:09] matthewlilley commented on #309
@ardatan I did a little more digging and think I found the cause. If you don't explicitly set skip: 0 when using the SDK, it will fail to trigger autopagination. I updated the repro I shared earlier to demonstrate.

![Screenshot_90](https://user-images.githubusercontent.com/6063350/198181269-3abad416-f90a-4996-8fe5-29868f15cdb0.png)

[2022-10-28 10:03] schmidsi commented on #297
@ardatan Would it make sense to leave this issue open as the problem with ApolloLink persists? Other people might run into the same problem.

[2022-10-28 16:50] matthewlilley opened #311 "Auto pagination fails when skip isn't explicitly set in SDK method call"
https://github.com/graphprotocol/graph-client/issues/309#issuecomment-1292908567

[2022-10-28 16:52] matthewlilley opened #312 "Errors aren't propagated when using the SDK in some cases"
https://github.com/graphprotocol/graph-client/issues/309#issuecomment-1292792493

[2022-10-28 16:52] matthewlilley commented on #309
I've created seperate issues for the two new discoveries here and will close this for now

[2022-10-28 16:52] #309 closed

[2022-10-28 16:53] matthewlilley opened #313 "ESM build fails consistently"
ESM build fails consistently. You can reproduce this using your own example here:

https://github.com/graphprotocol/graph-client/tree/main/examples/javascript-esm

[2022-10-28 16:54] matthewlilley commented on #34
@dotansimha should be continue to keep this one open? Node 16 support has pretty good coverage on our end now.

[2022-10-28 16:57] matthewlilley commented on #90
To contiue this conversation, we plan to eventually migrate to native bigint, but given the speed at which we can iterate subgraphs this would need to happen over a long time period, so support for incremental adoption of native bigint , or other transforms is critical.

[2022-10-28 17:00] matthewlilley commented on #311
https://github.com/matthewlilley/graphclient-cjs

[2022-10-29 02:03] matthewlilley opened #314 "Allow setting of makeResolverTypeCallable"
I'm re-writing our graph-client package at the moment and run into an issue when modularising, and especially reusing resolvers.

This expression is not callable.
  Not all constituents of type 'Resolver<ResolverTypeWrapper<LiquidityPosition>[], {}, FarmTypes.Context & MasterChefV2Types.Context & BlocksTypes.Context & MasterChefV1Types.Context & XSushiTypes.Context & ... 6 more ... & { ...; }, Req

[2022-10-29 08:29] matthewlilley commented on #314
![Screenshot_3](https://user-images.githubusercontent.com/6063350/198821915-feb74e08-7a9f-41a1-9807-2305f20d3f83.png)

Or should it be avoided? I notice that selections aren't made if calling the resolver.

[2022-10-29 10:19] ardatan commented on #314
You should avoid calling resolvers directly, and SDK needs to be used.

[2022-10-29 12:22] matthewlilley commented on #314
@ardatan Thanks for clarification.

[2022-10-29 12:22] #314 closed

[2022-10-29 12:25] ardatan commented on #314
Also resolvers are not always functions, they can be an object like
[code]

[2022-10-30 12:59] matthewlilley commented on #314
@ardatan gotcha, have been digging into graphql, mesh & graphclient a lot over the past week. Hopefully will be able to contribute back a bit more now I'm understanding a bit more, I notice the graphclient is mostly a thin wrapper.

[2022-10-30 13:00] matthewlilley commented on #314
@ardatan I'm still having a few problems with this.

I have a JSON handler in our config, but calling it directly inside another resolver, such as:

const farms: Query['farms'] = await context.Farm.Query.farms({ root, args, context, info })

Selections aren't made... And it's not being exposed on the SDK, so I can't use it from there either.

[2022-10-31 17:41] matthewlilley commented on #314
@ardatan I am using sdk within some resolvers now, instead of other resolvers directly from resolvers themselves. However, I'm struggling with type errors, the SDK return type doesn't seem to be compatible with the resolver return type without casting to it.

![Screenshot_21](https://user-images.githubusercontent.com/6063350/199073463-1ae12200-bf6b-4ccd-b743-af42cafc2d36.png)

What's the best prac

[2022-10-31 17:45] ardatan commented on #314
Oh in resolvers, incontext sdk`context.SOURCE_NAME.Query.FIELD_NAME` should be used not the other sdk :)
Other SDK is for clients not stitching.

[2022-10-31 17:47] matthewlilley commented on #314
Ah, so this is exactly what I was doing before. The issue then was that selections weren't made in a lot of cases. Like here:

https://github.com/graphprotocol/graph-client/issues/314#issuecomment-1295771712

[2022-11-01 03:59] TheDojoSamurai opened #326 "Invalid Regular Expression via itty-router"
I am getting this error, only when running the Graph-client in a mobile browsers.

Any idea on how to solve this?

![2022-11-01 at 11 59 AM](https://user-images.githubusercontent.com/83392401/199162448-1aee9cc5-e9ef-44b3-b6a1-1b1dbc4b9f70.jpg)

Posted on `itty-router` as well: https://github.com/kwhitley/itty-router/issues/124

[2022-11-01 04:53] matthewlilley commented on #314
@ardatan I have situations where I want to reuse resolver logic in other resolvers, or even multiple times within the same resolver.

https://github.com/sushiswap/sushiswap/blob/refactor/graph-client/packages/graph-client-2/resolvers/pairs/index.ts#L62

Writing small wrappers is a better pattern here?

[2022-11-07 09:35] kasparkallas commented on #13
`graphql-request` provides a `GraphQLClient` but I don't see it used or generated anywhere. Might make sense to provide a out-of-the-box integration for this too.

Link to `GraphQLClient` source code: https://github.com/prisma-labs/graphql-request/blob/1565d490407a57b79447e5d82b1fa34d5a959005/src/index.ts#L222

[2022-11-07 09:38] ardatan commented on #13
@kasparkallas We don't need `GraphQLClient` or `graphql-request` in Graph Client.
We have easier options;
- `execute` -> https://github.com/graphprotocol/graph-client/blob/main/examples/node/src/index.ts#L4
- `SDK` -> https://github.com/graphprotocol/graph-client/blob/main/examples/cross-chain-sdk/src/index.ts#L4

[2022-11-07 09:47] kasparkallas opened #329 "`any` in Scalars output for Bytes, BigInt, BigDecimal"
I ran the examples and got `any` for Bytes, BigInt, BigDecimal in the Scalars. Is this normal? I'd prefer my scalar value to be unambiguous and clearly serializable/deserializable.

Before using `graph-client`, I generated the output myself using `graphql-code-generator` and set the output for these types as `string` which worked well. Is it possible as a user of `graphql-client` to tweak the inte

[2022-11-07 09:57] ardatan commented on #329
Yes you can configure codegen like below;
[code]
Also you can see the discussion here why we don't set anything for those by default;
https://github.com/graphprotocol/graph-client/issues/90

[2022-11-07 12:32] kasparkallas commented on #329
@ardatan Love it, will work great for me, thanks!

[2022-11-07 12:32] #329 closed

[2022-11-07 12:36] kasparkallas commented on #13
@ardatan The title just mentioned `graphql-request` for integration and I have a small library that takes `GraphQLClient` as input.

Looking at `GraphQLClient` definition, it doesn't look very extendable... I'll just find a solution without it. Thanks again!

[2022-11-07 17:54] matthewlilley commented on #314
Friendly bump on above message @ardatan. It's not clear how to deal with complex cases like this.

[2022-11-07 17:58] matthewlilley commented on #314
I guess I should ask a few questions which would help.

Are there cases where it's acceptable to use the SDK within a resolver?

If not, and we want to reuse logic which is used in custom resolvers, what is the best practice for this?

An example of such as case can be seen here:
https://github.com/sushiswap/sushiswap/blob/refactor/graph-client/packages/graph-client-2/resolvers/pairs/index.ts#L62

[2022-11-07 23:08] #306 closed

[2022-11-09 06:50] TheDojoSamurai commented on #326
Anyone? this actually makes my ReactApp crash on mobile.

[2022-11-09 06:53] ardatan commented on #326
`itty-router` is used only if you use http handler in your app but I don't think you use it on a FE app. So is it possible to share a reproduction?

[2022-11-09 07:05] TheDojoSamurai commented on #326
My app is setup based on the [urql-live-query example](https://github.com/graphprotocol/graph-client/tree/main/examples/urql-live-query)

In my App.tsx

[code]

Example query call:

[code]

[2022-11-09 07:14] TheDojoSamurai opened #332 "Bug: Generated index.ts in graphclient places import in body"
An import is placed in the generated `index.ts` file.

This is the import `import { fileURLToPath } from '@graphql-mesh/utils';`

This makes my eslint fail and does not allow me to compile, once I move it to the top of the file everything works fine.

[2022-11-09 07:42] ardatan commented on #332
You can ignore generated files in your ESLint configuration.

[2022-11-16 11:19] n1ru4l commented on #326
Can you please specify the browser and browser version?

[2022-11-16 11:29] n1ru4l opened #334 "all dependencies should use caret (`^`) ranges"
Right now, a few of the packages use pinned versions.

[2022-11-16 11:34] ardatan commented on #334
I remember `^` doesn't work much for `0.x` versions. I think we aren't going to be able to do that until Mesh v1.

[2022-11-16 11:37] n1ru4l commented on #334
@ardatan Not sure what you mean in the `0.X.X` range the second number acts as the major version.

so a constraint of `^0.100.2` would satisfy `0.100.2`, `0.100.3`, `0.100.n` BUT NOT satisfy `0.101.n`.

https://jubianchi.github.io/semver-check/#/^0.100.2/0.100.2
https://jubianchi.github.io/semver-check/#/^0.100.2/0.100.3
https://jubianchi.github.io/semver-check/#/^0.100.2/0.101.99
https://jubianch

[2022-11-17 20:08] frankfka commented on #326
We're getting this as well - with Next.js, this actually causes all interactivity / JS to fail.

[2022-11-18 13:34] azf20 commented on #148
Hey @matthewlilley I think this is expected behaviour, filtering on ID is applied before the orderBy - you need to filter by the field you are ordering by. This is a slight issue with current Graph Node pagination if the orderBy is not distinct. There is work in progress to support cursor-based pagination https://github.com/graphprotocol/graph-node/pull/3214 (this is an older PR, there is more rec

[2022-11-20 00:15] hash0000FF commented on #326
I am facing the same issue in mobile/desktop safari. I solved this by downgrading the package based on @frankfka's finding. And it works again.

[code]

[2022-11-22 15:43] shlomich opened #336 "Using a custom source SDL"
Hello,

I have this data in my graphclient.yml
[code]

Now, this fails when it tries to do introspection for some reason, I saw in https://the-guild.dev/graphql/mesh/docs/handlers/graphql#config-api-reference that u can set a source.

So I set it to
[code]

I copied the SDL from `https://studio.apollographql.com/public/Public-Api-h6jqqg/schema/sdl?variant=public` and put it into sdl.graphql file.

[2022-11-22 17:04] #336 closed

[2022-11-25 18:26] frankfka opened #337 "Allow Specifying Data Source for Query"
Hello!

Is it possible to specify the particular data source to query for a given query? I have two graphs with _identical_ schemas. However, for a certain query, I would like to make sure that I'm hitting one particular endpoint.

I assume that this can be done with [composition](https://github.com/graphprotocol/graph-client#client-side-composition) - but can't find an example for doing so.

[2022-11-25 20:17] saihaj opened #338 "Native support for data type for `Bytes`"

[2022-11-25 20:18] saihaj opened #339 "Native support for data type for `BigDecimal`"